.contact {
    display: flex;
    width: 450px;
    height: fit-content;
    background-color: #CDF0EA;
    border-radius: 20px;
    margin: 10px 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px gray;
    align-self: center;
    transition: transform .3s;
}

.contact:hover {
    transform: scale(1.1);
}

.left {
    width: 35%;
}

.right {
    width: 65%;
}

img {
    width: 125px;
    border-radius: 50%;
}

p {
    margin: 2px;
}

p.name {
    font-weight: bold;
}